/* CSS resets */
* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

/* fim reset */

.App {
    height: 100%;
}

.Header {
    color: #FFF;
    background: #666;
    float: left;
    padding: 10px;
    width: 100%;
}

.Header .title {
    font-size: 2em;
    font-weight: bold;
}

.Header input[type=text] {
    border: none;
    border-radius: 2px;
    color: #666;
    height: 24px;
    padding: 5px;
}

.Header input[type=submit] {
    height: 24px;
    margin-left: 2px;
}

.App .content {
    padding-top: 80px;
}

.App .content,
.App .content .WordGraph {
    height: 100%;
    width: 100%;
}

/* Subtitle */

.Subtitle {
    margin: 5px;
    width: 150px;
}

.Subtitle * {
    padding: 5px;
}

.Subtitle .palavra {
    background: green;
    color: white;
}

.Subtitle .dominio {
    background: #CCC;
}


/* Significados */

.Significados {
    background: #FFF;
    box-shadow: 1px 1px 12px;
    color: #666;
    font-size: 0.8em;
    height: 300px;
    overflow: auto;
    position: absolute;
    width: 500px;
    z-index: 2; /* sobre o Graph */
}

.Significados .highlight {
    font-weight: bold;
}

.Significados .title {
    font-size: 1.5em;
    margin: 5px;
}

.Significados .subtitle {
    font-style: italic;
    margin: 5px;
}

.Significados .index {
    display: inline-block;
    width: 20px;
}

.Significados .definicao {
    padding: 5px;
}

.Significados .texto::first-letter {
    text-transform: uppercase;
}

.Significados .dominios {
    background: #EEE;
    border-radius: 2px;
    display: inline-block;
    margin-right: 3px;
    padding: 2px;
    text-transform: capitalize;
}

.Significados .score {
    background: lightblue;
    border-radius: 2px;
    color: #FFF;
    display: inline-block;
    margin-left: 3px;
    padding: 2px;
}